.etudiants {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 20em;
}

.etudiants li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #eee;
  margin: .5em 0;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}

.etudiants li:hover {
  color: #2c3a41;
  background-color: #ddd;
  left: .1em;
}

.etudiants li.selected {
  background-color: #cfd8dc;
  color: #2c3a41;
}

.etudiants li.selected:hover {
  background-color: #b0bec5;
}

.badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607d8b;
  line-height: 1em;
  border-radius: 4px;
  margin-right: .8em;
}
