.form-article {
  margin-bottom: 1rem;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.article {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

  
.important {
  background-color: #ffcccc;
  border: 1px solid red;
}

.moyen {
  background-color: #fff2cc;
  border: 1px solid orange;
}

.faible {
  background-color: #ccffcc;
  border: 1px solid green;
}
